.header{
    background-color: #FFF8DC;
    display: flex;
    background-color: #8B0000;
    width :100%;
    height:120px;
}

.navbar{
    width :100%;
    height:120px;
    background-color: #8B0000;
     display: flex;
    flex-direction: column;
    justify-content: center;
}


.text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    color:#FFFFFF;
}
#main-text{
    font-size: 40px;
}
#tagline{
   font-size: 20px;
   margin-left: 40px;
}
#menu-btn{
    display:none;
}

.data{
   height: 50px;
   width:1000px;
   display: flex;
   justify-content: space-around;
}
.nav-btn a{
    background-color: #8B0000;
    color: #FFFFFF;
    font-size:20px;
    font-family: sans-serif;
    border-style: none;
    text-decoration: none;
}

.live-box{
    display:none;
    margin-left: 60px;
    margin-bottom: 8px;
    padding: 5px;
    height:fit-content;
    width: fit-content;
    border:2px solid #050505;
    border-radius:5px;
    background-color: #FFF8DC;
    font-size: 14px;
    font-weight: 500;
}

.nav-btn a:hover{
    
    background-color: #8B0000;
    color:  yellow;
    /* border : 1.5px solid white;
    border-radius: 4px; */
}
#register-btn a{
    color:yellow;
    border-style:none;
}

.main-form{
    background-color:#FFF8DC;
    width:100%;
    height:1000px;
    display:flex ;
    flex-direction: column;
    align-items: center;
}

.heading{
    margin-top: 20px;
    color:#8B0000;
    width:100%;
    height:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 20px;
    width: 700px;
    height:fit-content;
    background: #fff8f8;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
    
}

.main-container input,
.main-container select,
.main-container textarea{
    width: 80%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 3px solid goldenrod;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 60px;
}
 .main-container input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 2px solid #d89c00;
    box-shadow: none;
}


.upload input{
    width:80%;
    border:2px solid goldenrod;
    padding:8px;
    border-radius:10px;
    text-align:center;
    background:#fff8f8;
    margin-left: 60px;
}
label{
    font-weight:600;
    font-size:18px;
    margin-left: 60px;
}

.submit{
    width:fit-content;
    padding: 10px;
    height:45px;
    border:none;
    border-radius:10px;
    background:#8B0000;
    color:white;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:0.2s;
    margin-top: 15px;
    align-self: center;
    margin-right: 30px;
}

.submit:hover{
    box-shadow:0 10px 20px rgba(139,0,0,.3);
    background:#a50000;
    transform:translateY(-3px);
    color:rgb(249, 241, 10);
}
.success-message{
    display:none;
    background: #d4edda;
    color: #155724;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
}

.complaint-id{
transform:translateY(-3px);
box-shadow:0 10px 20px rgba(139,0,0,.3);
display:none;
height: fit-content;
width: fit-content;
font-size: 18px;
margin-top: 25px;
margin-left: 182px;
padding: 10px;
font-weight: 400;
background-color: #8B0000;
border-radius: 10px;
color:white;
font-weight: 600;
}
#cross{
    padding: 5px;
    width:40px;
    height:40px;
    background-color: #8B0000;
    color: white;
    display: none;
    text-align: center;
    align-content: center;
    cursor: pointer;
    font-size: 25px;
    border-radius: 50%;
    margin-left: 620px;
    margin-top: -45px;
}
.footer{
    width:100%;
    height:230px;
}
.footer-headline{
    width:100%;
    height:100px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8B0000;
    color:#f5f5f5;
}
.quick-links{
    width:100%;
    height:40px;
      background-color: #8B0000;
      color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    font-size: 20px;
}
.quick-links a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.quick-links a:hover{
    color:yellow;
    text-decoration: underline;
}
.footer-contactinfo{
       background-color: #8B0000;
       color:white;
    width:100%;
    height:80px;   
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.footer-tagline{
    width:100%;
    height:40px;
    background-color: #8B0000;
    color:#f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:768px){
     .header {
    height: auto;
  }
  .navbar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
  }
  .logo img {
    order: 1;
    width: 70px;
    height: 70px;
  }
  .head {
    order: 2;
  }

  .text u {
    font-size: 25px;
  }

  #tagline {
    font-size: 12px;
    margin-left: 25px;
  }

  #menu-btn {
    order: 3;
    display: block;
    font-size: 25px;
    cursor: pointer;
    color: white;
    color: white;
    font-size: 30px;
    text-decoration: none;
  }

  #nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 10vh;
    background: #8b0000;
    z-index: 9999;
  }
  #nav-links.active {
    background-color: #8b0000;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0%;
    left: 0%;
    width: 100%;
    z-index: 1000;
  }

  .nav-btn a {
    padding-left: 10px;
    width: 100%;
    font-size: 15px;
    display: block;
  }
  .nav-btn {
    padding-left: 15px 20px;
    background-color: #8b0000;
    width: 100%;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

.heading h5{
    font-size:17px;
}
.main-form{
    height: 950px;
}

.main-container{
    width:90%;
    height:fit-content;
}

.main-container input,
.main-container select,
.main-container textarea{
    width:98%;
    height:40px;
}
label{
    margin-left: 0px;
}
.main-container input{
    margin-left: 0px;
}

.upload{
    margin-left: 0px;
    width:98%;
    display: flex;
    text-align: center;
    justify-content:center ;
}

.submit{
    width:80%;  
    margin-left:30px;
}
.complaint-id{
    margin-left: 0px;
    width:99%;
    margin-top: 20px;
}
#category{
    font-size: 15px;
    padding: 0px;
    margin:0px;
    margin-top: 5px;
    
}
#cross{
    margin-left:0px;
    margin-top: 10px;
}

.live-box{
    margin: 0px;
}

.footer-headline{
    height:60px;
    padding-top: 20px;
}
.quick-links{
    height:30px;
}
.footer-contactinfo{
    height: 30px;
}
.quick-links a{
font-size: 10px;
}

.footer-contactinfo h5{
    font-size: 10px;
    margin-top: 20px;
}
.footer-tagline{
    font-size: 10px;
}
.footer{
    height: auto;
}

}
